<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        
    </style>
</head>
<body>
    <form action='/result' method='post'>
        <label for="name">Your Name: </label>
        <input type="text" name="name">
        <br>Dojo: <select name="dojo">
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="San Francisco">San Francisco</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Dallas">Dallas</option>
        </select>
        <br>Favorite Language: <select name="language">
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="JavaScript">JavaScript</option>
            <option value="C">C</option>
        </select>
        <br>Comment (optional): 
        <br><textarea name="comment" cols="40" rows="5"></textarea>
        <br><input type='submit' value='Submit'>
    </form>
</body>
</html>